In [3]:
import numpy as np
import pandas as pd
import datetime as dt
import matplotlib.pyplot as plt
import seaborn as sns

In [4]:
data = pd.read_csv("motor1.csv")
data.head()

   Temperature        X        Y  Motor_Condition
0    39.472222  14.1197  15.8263              0.0
1    39.355556  14.2646  15.8263              0.0
2    39.377778   3.9284  14.9569              0.0
3    38.288889  14.1036  15.8263              0.0
4    38.755556  11.0446  15.8263              0.0

In [5]:
data.columns

Index(['Temperature', 'X', 'Y', 'Motor_Condition'], dtype='object')

In [6]:
data = data.dropna(axis = 0, how ='any')

In [7]:
data.isnull().sum()

Temperature        0
X                  0
Y                  0
Motor_Condition    0
dtype: int64

In [8]:
cat_cols = data.select_dtypes(include=['object','category']).columns.tolist()
print(cat_cols)

num_cols = data.select_dtypes(include=['int64','float64']).columns.tolist()
print(num_cols)

[]
['Temperature', 'X', 'Y', 'Motor_Condition']

In [9]:
#Take targate variable into y
y = data['Motor_Condition']
X = data.drop('Motor_Condition',axis = 1)

In [11]:
# model 
from sklearn.ensemble import RandomForestClassifier
model = RandomForestClassifier(n_estimators=100)
model.fit(X, y)
model.score(X,y)

1.0

In [12]:
import pickle
pickle.dump(model, open('model.pkl', 'wb'))

## Test Flask server

In [18]:
# local url
import json
import requests
url = 'http://127.0.0.1:5000'

# test data
data = {  'Temperature': 39.355556
             , 'X': 14.2646
             , 'Y': 15.8263}

data = json.dumps(data)
data

'{"Temperature": 39.355556, "X": 14.2646, "Y": 15.8263}'

In [19]:
send_request = requests.post(url, data)
print(send_request.json())

{'results': {'results': 0}}

In [25]:
import pandas as pd
import json

In [26]:
data = pd.read_csv('test.csv')

In [27]:
data.head()

   Temperature        X        Y
0    39.472222  14.1197  15.8263
1    39.355556  14.2646  15.8263
2    39.377778   3.9284  14.9569
3    38.288889  14.1036  15.8263
4    23.144444  13.7494   2.6887

In [28]:
json_records = data.to_json(orient ='records')
print(json_records)
json_records = json_records.replace("},","}-")
json_records = json_records.replace("[","")
json_records = json_records.replace("]","")

list = json_records.split('-')

[{"Temperature":39.47222222,"X":14.1197,"Y":15.8263},{"Temperature":39.35555556,"X":14.2646,"Y":15.8263},{"Temperature":39.37777778,"X":3.9284,"Y":14.9569},{"Temperature":38.28888889,"X":14.1036,"Y":15.8263},{"Temperature":23.14444444,"X":13.7494,"Y":2.6887},{"Temperature":23.05555556,"X":13.9587,"Y":3.1395},{"Temperature":37.73333333,"X":12.3648,"Y":9.982},{"Temperature":23.16666667,"X":10.9158,"Y":4.0089},{"Temperature":23.27222222,"X":9.66,"Y":3.2039},{"Temperature":39.47222222,"X":14.1197,"Y":15.8263},{"Temperature":39.35555556,"X":14.2646,"Y":15.8263},{"Temperature":22.97777778,"X":10.9319,"Y":3.9123},{"Temperature":22.5,"X":9.3863,"Y":3.4293},{"Temperature":23.56666667,"X":6.2951,"Y":4.8783},{"Temperature":23.39444444,"X":5.3613,"Y":2.8497}]

In [32]:
for i in list:
    response = requests.post(url, i)
    print(response.json())

{'results': {'results': 0}}
{'results': {'results': 0}}
{'results': {'results': 0}}
{'results': {'results': 0}}
{'results': {'results': 1}}
{'results': {'results': 1}}
{'results': {'results': 0}}
{'results': {'results': 1}}
{'results': {'results': 1}}
{'results': {'results': 0}}
{'results': {'results': 0}}
{'results': {'results': 1}}
{'results': {'results': 1}}
{'results': {'results': 1}}
{'results': {'results': 1}}

In [ ]:
# heroku url
heroku_url = 'https://titanic-flask-model.herokuapp.com' # change to your app name

# test data
data = {'Pclass': 3
      , 'Age': 2
      , 'SibSp': 1
      , 'Fare': 50}

data = json.dumps(data)
data

In [ ]:
# check response code
r_survey = requests.post(heroku_url, data)
print(r_survey)